.home{
    border: solid 1px black;
    width: 450px;
    height: 250px;
    margin: auto;
    padding: 40px;
    background-color: #f6f6f6; }
    .zindex1 {
    width: 80px;
    height: 80px;
    background-color: #ff0000;
    position: relative; }
    .zindex2 {
    width: 80px;
    height: 80px;
    background-color: #008000;position: relative;
    top:-40px;
    left: 40px; }
    .zindex3 {
    width: 80px;
    height: 80px;
    background-color: #0000ff;
    position: relative;
    top:-80px;
    left:80px; }
    .zindex4 {
    width: 80px;
    height: 80px;
    background-color: #ffd700;
    position: relative;
    top:-120px;
    left:120px; }
    .page-6-div-1{
   width: fit-content;
   height: fit-content;
 
}
.page-6-div-2{
    width: fit-content;
    height: fit-content;
    position:absolute;
    bottom: 0px;
  left: 0px;
    
  
 }
 .page-6-div-3{
    width: fit-content;
    height: fit-content;
    position:absolute;
    top: 0px;
   right: 0px;
  
 }
 .page-6-div-4{
    width: fit-content;
    height: fit-content;
    position:absolute;
    bottom: 0px;
   right: 0px;
  
 }
 .class{
    width: 700px;
    height: 350px;
  margin: auto;
  position: relative;
  border: solid 3px red;
 }
 .img1{
   position: absolute;
   top: 50px;
   left: 150px;

 }